# Один compose для двух проектов: BDcrud3 + Wazuh (single-node)
# Запуск: docker compose up -d --build

services:
  # ---------------------------
  # BDcrud3
  # ---------------------------
  app:
    build:
      context: ./BDcrud3
      dockerfile: Dockerfile
    environment:
      STORAGE: "${STORAGE:-postgres}"
      MONGO_DSN: "mongodb://mongo:27017"
      MONGO_DB: "testdb"
      MONGO_COLL: "products"
      POSTGRES_USER: "postgres"
      POSTGRES_DB: "postgres"
      POSTGRES_HOST: "postgres"
      POSTGRES_PORT: "5432"
    depends_on:
      - postgres
      - mongo
    ports:
      - "8000:8000"
    secrets:
      - postgres_password

  postgres:
    image: postgres:16
    environment:
      POSTGRES_USER: postgres
      POSTGRES_DB: postgres
      POSTGRES_PASSWORD_FILE: /run/secrets/postgres_password
    secrets:
      - postgres_password
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./BDcrud3/sql/init_postgres.sql:/docker-entrypoint-initdb.d/init.sql:ro

  mongo:
    image: mongo:7
    ports:
      - "27017:27017"
    volumes:
      - mongodata:/data/db

  nginx:
    image: nginx:stable
    network_mode: "host"
    depends_on:
      - app
    volumes:
      - ./BDcrud3/nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./BDcrud3/certs:/etc/nginx/certs:ro
      # Логи кладём рядом с проектом, чтобы Wazuh мог их читать
      - /var/log/nginx:/var/log/nginx
    secrets:
      - nginx_app_ssl_key

  # ---------------------------
  # Wazuh (single-node) + postfix + alert-mailer
  # ---------------------------
  wazuh.manager:
    image: wazuh/wazuh-manager:4.14.1
    hostname: wazuh.manager
    restart: always
    ulimits:
      memlock:
        soft: -1
        hard: -1
      nofile:
        soft: 655360
        hard: 655360
    ports:
      - "1514:1514"
      - "1515:1515"
      - "514:514/udp"
      - "55000:55000"
    environment:
      - INDEXER_URL=https://wazuh.indexer:9200
      - INDEXER_USERNAME=admin
      #- INDEXER_PASSWORD=SecretPassword
      - FILEBEAT_SSL_VERIFICATION_MODE=full
      - SSL_CERTIFICATE_AUTHORITIES=/etc/ssl/root-ca.pem
      - SSL_CERTIFICATE=/etc/ssl/filebeat.pem
      - SSL_KEY=/etc/ssl/filebeat.key
      - API_USERNAME=wazuh-wui
     #- API_PASSWORD=MyS3cr37P450r.*-
      - WAZUH_MAILD_DISABLED=no
    secrets:
      - wazuh_indexer_password
      - wazuh_api_password
      - source: wazuh_manager_key
        target: /etc/ssl/filebeat.key
        mode: 0400
    entrypoint: ["/bin/sh","-lc",
      "export INDEXER_PASSWORD=\"$(cat /run/secrets/wazuh_indexer_password)\"; \
       export API_PASSWORD=\"$(cat /run/secrets/wazuh_api_password)\"; \
       exec /init"
    ]
    volumes:
      - wazuh_api_configuration:/var/ossec/api/configuration
      - wazuh_etc:/var/ossec/etc
      - wazuh_logs:/var/ossec/logs
      - wazuh_queue:/var/ossec/queue
      - wazuh_var_multigroups:/var/ossec/var/multigroups
      - wazuh_integrations:/var/ossec/integrations
      - wazuh_active_response:/var/ossec/active-response/bin
      - wazuh_agentless:/var/ossec/agentless
      - wazuh_wodles:/var/ossec/wodles
      #- ./wazuh-docker/single-node/config/filebeat/filebeat.yml:/etc/filebeat/filebeat.yml:ro
      - filebeat_var:/var/lib/filebeat
      - ./wazuh-docker/single-node/config/wazuh_indexer_ssl_certs/root-ca-manager.pem:/etc/ssl/root-ca.pem
      - ./wazuh-docker/single-node/config/wazuh_indexer_ssl_certs/wazuh.manager.pem:/etc/ssl/filebeat.pem
      #- ./wazuh-docker/single-node/config/wazuh_indexer_ssl_certs/wazuh.manager-key.pem:/etc/ssl/filebeat.key
      - ./wazuh-docker/single-node/config/wazuh_cluster/wazuh_manager.conf:/wazuh-config-mount/etc/ossec.conf
      # Чтение nginx-логов BDcrud3
      #- ./logs/nginx/access_json.log:/var/log/nginx/access_json.log:ro
      #- ./logs/nginx/error_json.log:/var/log/nginx/error_json.log:ro
      - /var/log/nginx:/var/log/nginx:ro
      # Локальные правила/декодеры Wazuh
      - ./wazuh-docker/single-node/config/wazuh_manager/local_rules:/var/ossec/etc/rules:ro
      - ./wazuh-docker/single-node/config/wazuh_manager/local_decoders:/var/ossec/etc/decoders

  wazuh-alert-mailer:
    build:
      context: ./wazuh-docker/single-node
      dockerfile: Dockerfile.alert-mailer
    container_name: wazuh-alert-mailer
    restart: always
    depends_on:
      - wazuh.manager
      - postfix
    volumes:
      - wazuh_logs:/var/ossec/logs:ro

  postfix:
    image: boky/postfix
    container_name: wazuh-postfix
    restart: always
    secrets:
      - postfix_relay_password
    environment:
      - RELAYHOST=smtp.mail.ru:587
      - RELAYHOST_USERNAME=MAIL
      #- RELAYHOST_PASSWORD=PASSWORD
      - RELAYHOST_PASSWORD_FILE=/run/secrets/postfix_relay_password
      - MAILNAME=wazuh.local
      - POSTFIX_smtp_tls_security_level=encrypt
      - POSTFIX_smtpd_tls_security_level=may
      - POSTFIX_smtpd_relay_restrictions=permit_mynetworks,reject_unauth_destination
      - ENABLE_SASL_AUTH=yes
      - ALLOWED_SENDER_DOMAINS=list.ru
      - FORWARD_ALL_MAIL=yes
      - POSTFIX_smtpd_sender_restrictions=
      - POSTFIX_smtpd_recipient_restrictions=permit_mynetworks,reject_unauth_destination
      - POSTFIX_smtpd_data_restrictions=

  wazuh.indexer:
    image: wazuh/wazuh-indexer:4.14.1
    hostname: wazuh.indexer
    restart: always
    ports:
      - "9200:9200"
    environment:
      - "OPENSEARCH_JAVA_OPTS=-Xms1g -Xmx1g"
    ulimits:
      memlock:
        soft: -1
        hard: -1
      nofile:
        soft: 65536
        hard: 65536
    secrets:
      - source: wazuh_indexer_key
        target: /usr/share/wazuh-indexer/config/certs/wazuh.indexer.key
        mode: 0444
      - source: wazuh_admin_key
        target: /usr/share/wazuh-indexer/config/certs/admin.key
        mode: 0444
    volumes:
      - wazuh-indexer-data:/var/lib/wazuh-indexer
      - ./wazuh-docker/single-node/config/wazuh_indexer_ssl_certs/root-ca.pem:/usr/share/wazuh-indexer/config/certs/root-ca.pem
      #- ./wazuh-docker/single-node/config/wazuh_indexer_ssl_certs/wazuh.indexer-key.pem:/usr/share/wazuh-indexer/config/certs/wazuh.indexer.key
      - ./wazuh-docker/single-node/config/wazuh_indexer_ssl_certs/wazuh.indexer.pem:/usr/share/wazuh-indexer/config/certs/wazuh.indexer.pem
      - ./wazuh-docker/single-node/config/wazuh_indexer_ssl_certs/admin.pem:/usr/share/wazuh-indexer/config/certs/admin.pem
      #- ./wazuh-docker/single-node/config/wazuh_indexer_ssl_certs/admin-key.pem:/usr/share/wazuh-indexer/config/certs/admin-key.pem
      - ./wazuh-docker/single-node/config/wazuh_indexer/wazuh.indexer.yml:/usr/share/wazuh-indexer/config/opensearch.yml
      - ./wazuh-docker/single-node/config/wazuh_indexer/internal_users.yml:/usr/share/wazuh-indexer/config/opensearch-security/internal_users.yml

  wazuh.dashboard:
    image: wazuh/wazuh-dashboard:4.14.1
    hostname: wazuh.dashboard
    restart: always
    ports:
      - "443:5601"
    environment:
      - INDEXER_USERNAME=admin
      #- INDEXER_PASSWORD=SecretPassword
      - WAZUH_API_URL=https://wazuh.manager
      - DASHBOARD_USERNAME=kibanaserver
      #- DASHBOARD_PASSWORD=kibanaserver
      - API_USERNAME=wazuh-wui
      #- API_PASSWORD=MyS3cr37P450r.*-
    secrets:
      - wazuh_indexer_password
      - wazuh_api_password
      - wazuh_dashboard_password
      - source: wazuh_dashboard_key
        target: /usr/share/wazuh-dashboard/certs/wazuh-dashboard-key.pem
        mode: 0400
    entrypoint: ["/bin/sh","-lc",
      "export INDEXER_PASSWORD=\"$(cat /run/secrets/wazuh_indexer_password)\"; \
       export API_PASSWORD=\"$(cat /run/secrets/wazuh_api_password)\"; \
       export DASHBOARD_PASSWORD=\"$(cat /run/secrets/wazuh_dashboard_password)\"; \
       exec /entrypoint.sh"
    ]
    volumes:
      - ./wazuh-docker/single-node/config/wazuh_indexer_ssl_certs/wazuh.dashboard.pem:/usr/share/wazuh-dashboard/certs/wazuh-dashboard.pem
      #- ./wazuh-docker/single-node/config/wazuh_indexer_ssl_certs/wazuh.dashboard-key.pem:/usr/share/wazuh-dashboard/certs/wazuh-dashboard-key.pem
      - ./wazuh-docker/single-node/config/wazuh_indexer_ssl_certs/root-ca.pem:/usr/share/wazuh-dashboard/certs/root-ca.pem
      - ./wazuh-docker/single-node/config/wazuh_dashboard/opensearch_dashboards.yml:/usr/share/wazuh-dashboard/config/opensearch_dashboards.yml
      - ./wazuh-docker/single-node/config/wazuh_dashboard/wazuh.yml:/usr/share/wazuh-dashboard/data/wazuh/config/wazuh.yml
      - wazuh-dashboard-config:/usr/share/wazuh-dashboard/data/wazuh/config
      - wazuh-dashboard-custom:/usr/share/wazuh-dashboard/plugins/wazuh/public/assets/custom
    depends_on:
      - wazuh.indexer
    links:
      - wazuh.indexer:wazuh.indexer
      - wazuh.manager:wazuh.manager

secrets:
  postgres_password:
    file: ./BDcrud3/secrets/postgres_password.txt
  nginx_app_ssl_key:
    file: ./BDcrud3/secrets/nginx.key
    # --- Wazuh / Postfix passwords ---
  wazuh_indexer_password:
    file: ./wazuh-docker/secrets/wazuh_indexer_password.txt
  wazuh_api_password:
    file: ./wazuh-docker/secrets/wazuh_api_password.txt
  wazuh_dashboard_password:
    file: ./wazuh-docker/secrets/wazuh_dashboard_password.txt
  postfix_relay_password:
    file: ./wazuh-docker/secrets/postfix_relay_password.txt

  # --- Wazuh private keys ---
  wazuh_manager_key:
    file: ./wazuh-docker/secrets/wazuh.manager-key.pem
  wazuh_indexer_key:
    file: ./wazuh-docker/secrets/wazuh.indexer-key.pem
  wazuh_admin_key:
    file: ./wazuh-docker/secrets/admin-key.pem
  wazuh_dashboard_key:
    file: ./wazuh-docker/secrets/wazuh.dashboard-key.pem

volumes:
  # BDcrud
  pgdata:
  mongodata:

  # Wazuh
  wazuh_api_configuration:
  wazuh_etc:
  wazuh_logs:
  wazuh_queue:
  wazuh_var_multigroups:
  wazuh_integrations:
  wazuh_active_response:
  wazuh_agentless:
  wazuh_wodles:
  filebeat_etc:
  filebeat_var:
  wazuh-indexer-data:
  wazuh-dashboard-config:
  wazuh-dashboard-custom:
